@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    display: grid;
    place-items: center;
    align-content:center;
    min-height: 100vh;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid rgb(71,85,105);
  }